<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>643689754310-rgq53t3vbsms3pse3ga7lsl7ipqt0og0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643689754310-rgq53t3vbsms3pse3ga7lsl7ipqt0og0</string>
	<key>API_KEY</key>
	<string>AIzaSyCNhJS2xurV7Qdn-LDaSh01Y2V4GFcWuro</string>
	<key>GCM_SENDER_ID</key>
	<string>643689754310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.juniorsamaroo.pokesearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-db967</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-db967.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:643689754310:ios:cac40fa728a1620c</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-db967.firebaseio.com</string>
</dict>
</plist>